- var site_title = "Qrac GitHub";
- var page_title = "Shitaji.CSS";
- var page_description = "Webデザイン・Web開発を効率化するためのリセットCSS";
- var page_url = "https://qrac.github.io/shitajicss/";
- var github_url = "https://github.com/qrac/shitajicss/";
- var twitter_id = "Qrac_jp";

doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title #{page_title} - #{site_title}
    meta(name="description" content=page_description)
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="format-detection" content="telephone=no, email=no, address=no")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(property="og:title" content=page_title)
    meta(property="og:description" content=page_description)
    meta(property="og:url" content=page_url)
    meta(property="og:image" content=page_url+"img/ogp.png")
    meta(property="og:site_name" content=site_title)
    meta(property="og:type" content="website")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content=twitter_id)
    meta(name="twitter:creator", content=twitter_id)
    meta(name="twitter:title", content=page_title)
    meta(name="twitter:description", content=page_description)
    meta(name="twitter:image:src", content=page_url+"img/ogp.png")
    link(rel="apple-touch-icon" href="img/apple-touch-icon.png")
    link(rel="shortcut icon" href="img/favicon.ico")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster")
    link(rel="stylesheet" href="css/shitaji.min.css")
    link(rel="stylesheet" href="demo/style.min.css")
  body
    include ../icomoon/symbol-defs.svg
    header.header
      svg.svg.is-logo-ShitajiCSS: use(xlink:href="#-svg_logo_ShitajiCSS")
      h1.title Shitaji.CSS
      h2.disc Optimized "Reset.CSS" for web design.
      a.github(href=github_url)
        svg.svg.is-github: use(xlink:href="#-svg_github")
        span GitHub
    main.main
      section.section
        pre.pre
          include ../../docs/css/shitaji.css
      section.section
        h3.heading License
        .license
          p
            | CC0 1.0 Public Domain / Author:
            a(href="https://twitter.com/"+twitter_id target="_blank") Qrac
    footer.footer
      a(href="https://twitter.com/"+twitter_id target="_blank"): svg.svg.is-twitter: use(xlink:href="#-svg_twitter")
